.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.button {
  color: #ff0b37;
  border: 2px solid #ff0b37;
  border-radius: 10px;
  padding: 8px 12px;
  height: 40px;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
}
.todo-title {
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 576px) {
  .todo-title {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
}
